<!-- register.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
<h1>Registration Form</h1>
<form method="post" action="/api/v1/user">
    <!-- Form fields go here -->
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="Password">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="role" placeholder="Role">
    <button type="submit">Register</button>
</form>
</body>
</html>
